<!DOCTYPE html>
<html ng-app="projectApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Tutorial</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>

    <script src="~/Scripts/libs/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/libs/bootstrap.min.js"></script>
    <script src="~/Scripts/libs/angular.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/project/project.js"></script>
    <script src="~/Scripts/project/ProjectController.js"></script>
    <script src="~/Scripts/project/ProjectService.js"></script>
</body>
</html>